# Random Forest Model

In [2]:
# Import dependencies
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler,OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
from sqlalchemy import create_engine

# Load data from SQLite database

In [3]:
# load data back into a dataframe from the database
#cnx = create_engine('sqlite:///mental_health.db').connect()
mental_df = pd.read_sql_table('pre_encoded_survey', 'sqlite:///mental_health.db').drop(columns=['index'])
mental_df.head()

,0,1,2,3,4,5,6,7,8,9,...,22,23,24,25,26,27,28,29,30,31
0,No,Yes,Yes,Somewhat easy,No,No,Yes,No,1,"Yes, they all did",...,Yes,Yes,Yes,Yes,1,Rarely,Sometimes,Male,United States of America,United States of America
1,Yes,Yes,No,Neither easy nor difficult,Yes,Maybe,No,No,1,I don't know,...,Yes,Yes,Yes,Yes,1,Sometimes,Sometimes,Female,United States of America,United States of America
2,Yes,I am not sure,Yes,Somewhat easy,Yes,Yes,No,Yes,1,"No, none did",...,No,No,Yes,No,1,Not applicable to me,Often,Male,United Kingdom,United Kingdom
3,I don't know,No,No,Somewhat easy,No,No,Yes,No,1,Some did,...,No,No,No,No,0,Not applicable to me,Not applicable to me,Male,United States of America,United States of America
4,Yes,Yes,Yes,Very easy,No,No,I don't know,No,1,Some did,...,Yes,Yes,Yes,Yes,1,Sometimes,Often,Female,United States of America,United States of America

In [4]:
mental_df.dtypes

0     object
1     object
2     object
3     object
4     object
5     object
6     object
7     object
8      int64
9     object
10    object
11    object
12    object
13    object
14    object
15    object
16    object
17    object
18    object
19    object
20    object
21    object
22    object
23    object
24    object
25    object
26     int64
27    object
28    object
29    object
30    object
31    object
dtype: object

# Preprocessing

In [5]:
# Generate our categorical variable list
mental_cat = mental_df.dtypes[mental_df.dtypes == "object"].index.tolist()

# Check the number of unique values in each column
mental_df[mental_cat].nunique()

0     4
1     3
2     3
3     6
4     3
5     3
6     3
7     2
9     4
10    4
11    4
12    4
13    4
14    4
15    4
16    3
17    3
18    5
19    5
20    6
21    4
22    3
23    3
24    3
25    2
27    5
28    5
29    3
30    7
31    8
dtype: int64

In [6]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(mental_df[mental_cat]))

# Add the encoded variable names to the DataFrame
encode_df.columns = enc.get_feature_names_out(mental_cat)
encode_df.head()

h:\OLT-SEM8\FYP_Git\MentalHealth_FinalProject\env\lib\site-packages\sklearn\preprocessing\_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

,0_I don't know,0_No,0_Not eligible for coverage / N/A,0_Yes,1_I am not sure,1_No,1_Yes,2_I don't know,2_No,2_Yes,...,30_United Kingdom,30_United States of America,31_Australia,31_Canada,31_Germany,31_Netherlands,31_Other,31_Sweden,31_United Kingdom,31_United States of America
0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [7]:
column_headers = list(encode_df.columns.values)
print("The Column Header :", column_headers)

The Column Header : ["0_I don't know", '0_No', '0_Not eligible for coverage / N/A', '0_Yes', '1_I am not sure', '1_No', '1_Yes', "2_I don't know", '2_No', '2_Yes', "3_I don't know", '3_Neither easy nor difficult', '3_Somewhat difficult', '3_Somewhat easy', '3_Very difficult', '3_Very easy', '4_Maybe', '4_No', '4_Yes', '5_Maybe', '5_No', '5_Yes', "6_I don't know", '6_No', '6_Yes', '7_No', '7_Yes', "9_I don't know", '9_No, none did', '9_Some did', '9_Yes, they all did', '10_I was aware of some', '10_N/A (not currently aware)', '10_No, I only became aware later', '10_Yes, I was aware of all of them', "11_I don't know", '11_None did', '11_Some did', '11_Yes, they all did', "12_I don't know", '12_No', '12_Sometimes', '12_Yes, always', "13_I don't know", '13_None of them', '13_Some of them', '13_Yes, all of them', "14_I don't know", '14_No, at none of my previous employers', '14_Some of my previous employers', '14_Yes, at all of my previous employers', "15_I don't know", '15_None did', '15_Some did', '15_Yes, they all did', '16_None of them', '16_Some of them', '16_Yes, all of them', '17_Maybe', '17_No', '17_Yes', '18_Maybe', "18_No, I don't think it would", '18_No, it has not', '18_Yes, I think it would', '18_Yes, it has', '19_Maybe', "19_No, I don't think they would", '19_No, they do not', '19_Yes, I think they would', '19_Yes, they do', '20_Neutral', '20_Not applicable to me (I do not have a mental illness)', '20_Not open at all', '20_Somewhat not open', '20_Somewhat open', '20_Very open', '21_Maybe/Not sure', '21_No', '21_Yes, I experienced', '21_Yes, I observed', "22_I don't know", '22_No', '22_Yes', '23_Maybe', '23_No', '23_Yes', '24_Maybe', '24_No', '24_Yes', '25_No', '25_Yes', '27_Never', '27_Not applicable to me', '27_Often', '27_Rarely', '27_Sometimes', '28_Never', '28_Not applicable to me', '28_Often', '28_Rarely', '28_Sometimes', '29_Female', '29_Male', '29_Other', '30_Australia', '30_Canada', '30_Germany', '30_Netherlands', '30_Other', '30_United Kingdom', '30_United States of America', '31_Australia', '31_Canada', '31_Germany', '31_Netherlands', '31_Other', '31_Sweden', '31_United Kingdom', '31_United States of America']

In [8]:
# Merge one-hot encoded features and drop the originals
mental_df = mental_df.merge(encode_df,left_index=True, right_index=True)
mental_df = mental_df.drop(mental_cat,axis=1)
mental_df.head()

,8,26,0_I don't know,0_No,0_Not eligible for coverage / N/A,0_Yes,1_I am not sure,1_No,1_Yes,2_I don't know,...,30_United Kingdom,30_United States of America,31_Australia,31_Canada,31_Germany,31_Netherlands,31_Other,31_Sweden,31_United Kingdom,31_United States of America
0,1,1,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,1,1,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,1,1,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,1,1,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

# Send encoded dataframe to database to be used in model

In [9]:
# Create the engine
engine = create_engine("sqlite:///mental_health.db", echo=False)

In [10]:
# Use pandas to_sql to write records stored in a dataframe to a SQL database

# Write dataframe of all survey questions to a sqlite table
mental_df.to_sql('encoded_survey', con=engine, if_exists='replace')
#engine.execute("SELECT * FROM encoded_survey").fetchall()

861

In [11]:
# load data back into a dataframe from the database
#cnx=create_engine('sqlite:///mental_health.db').connect()
mental_df = pd.read_sql_table('encoded_survey','sqlite:///mental_health.db' ).drop(columns=['index'])
mental_df

,8,26,0_I don't know,0_No,0_Not eligible for coverage / N/A,0_Yes,1_I am not sure,1_No,1_Yes,2_I don't know,...,30_United Kingdom,30_United States of America,31_Australia,31_Canada,31_Germany,31_Netherlands,31_Other,31_Sweden,31_United Kingdom,31_United States of America
0,1,1,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,1,1,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,1,1,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,1,1,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
856,1,0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
857,1,1,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
858,1,1,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
859,1,1,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
860,1,0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [12]:
# load data back into a dataframe from the database
#cnx=create_engine('sqlite:///mental_health.db').connect()
questions_df = pd.read_sql_table('pre_encoded_questions', 'sqlite:///mental_health.db').drop(columns=['index'])
questions_df

                                             Question
0   Does your employer provide mental health benef...
1   Do you know the options for mental health care...
2   Does your employer offer resources to learn mo...
3   If a mental health issue prompted you to reque...
4   Do you think that discussing a mental health d...
5   Do you think that discussing a physical health...
6   Do you feel that your employer takes mental he...
7   Have you heard of or observed negative consequ...
8                     Do you have previous employers?
9   Have your previous employers provided mental h...
10  Were you aware of the options for mental healt...
11  Did your previous employers ever formally disc...
12  Was your anonymity protected if you chose to t...
13  Do you think that discussing a mental health d...
14  Would you have been willing to discuss a menta...
15  Did you feel that your previous employers took...
16  Did you hear of or observe negative consequenc...
17  Would you bring up a mental health issue with ...
18  Do you feel that being identified as a person ...
19  Do you think that team members/co-workers woul...
20  How willing would you be to share with friends...
21  Have you observed or experienced an unsupporti...
22    Do you have a family history of mental illness?
23  Have you had a mental health disorder in the p...
24    Do you currently have a mental health disorder?
25  Have you been diagnosed with a mental health c...
26  Have you ever sought treatment for a mental he...
27  If you have a mental health issue, do you feel...
28  If you have a mental health issue, do you feel...
29                               What is your gender?
30                       What country do you live in?
31                       What country do you work in?

In [13]:
# Define the target set.
y = mental_df["25_Yes"]

# Define the features set.
X = mental_df.drop(columns=["25_Yes","25_No"])

In [28]:
# Splitting into Train and Test sets.
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=78)

In [29]:
# Create a random forest classifier.
rf_model = RandomForestClassifier(n_estimators=120, random_state=78)

In [30]:
# Fitting the model
rf_model = rf_model.fit(X_train, y_train)

In [31]:
# Making predictions using the testing data.
predictions = rf_model.predict(X_test)
predictions

array([0., 1., 1., 1., 1., 0., 1., 0., 1., 1., 1., 0., 0., 1., 1., 0., 1.,
       1., 1., 1., 1., 1., 0., 0., 1., 0., 1., 1., 0., 1., 1., 0., 1., 1.,
       1., 0., 0., 1., 1., 0., 1., 1., 0., 0., 0., 1., 0., 1., 0., 1., 1.,
       1., 0., 1., 0., 1., 1., 1., 0., 1., 0., 1., 1., 0., 1., 0., 1., 1.,
       0., 0., 0., 0., 0., 1., 0., 1., 1., 1., 1., 1., 1., 0., 1., 1., 1.,
       0., 1., 0., 1., 1., 1., 1., 1., 0., 0., 1., 1., 1., 0., 1., 1., 1.,
       0., 0., 0., 1., 1., 0., 0., 1., 1., 1., 1., 1., 1., 0., 1., 1., 1.,
       0., 1., 0., 1., 0., 0., 1., 1., 0., 0., 1., 1., 0., 1., 1., 1., 0.,
       1., 1., 0., 1., 0., 0., 1., 0., 1., 1., 1., 0., 1., 1., 0., 1., 0.,
       0., 0., 1., 1., 0., 1., 1., 0., 0., 0., 1., 0., 1., 1., 1., 0., 1.,
       0., 1., 1.])

In [32]:
# Calculating the confusion matrix.
cm = confusion_matrix(y_test, predictions)

# Create a DataFrame from the confusion matrix.
cm_df = pd.DataFrame(
cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"])

cm_df

          Predicted 0  Predicted 1
Actual 0           63           19
Actual 1            4           87

In [33]:
# Calculating the accuracy score.
acc_score = accuracy_score(y_test, predictions)

# Create a Confusion Matrix

In [35]:
# Displaying results
print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score : {acc_score}")
print("Classification Report")
print(classification_report(y_test, predictions))

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0           63           19
Actual 1            4           87

Accuracy Score : 0.8670520231213873
Classification Report
              precision    recall  f1-score   support

         0.0       0.94      0.77      0.85        82
         1.0       0.82      0.96      0.88        91

    accuracy                           0.87       173
   macro avg       0.88      0.86      0.86       173
weighted avg       0.88      0.87      0.87       173

In [36]:
# Calculate feature importance in the Random Forest model.
importances = rf_model.feature_importances_
importances

array([0.        , 0.10475854, 0.00490985, 0.0018625 , 0.00163605,
       0.00460955, 0.00379326, 0.00755137, 0.00880078, 0.00446511,
       0.00496448, 0.00373078, 0.00362311, 0.00203858, 0.00395608,
       0.00461622, 0.00188041, 0.00376936, 0.00427984, 0.00411412,
       0.00222372, 0.00387363, 0.00403156, 0.00130731, 0.00411781,
       0.00361139, 0.00428378, 0.00262896, 0.0027913 , 0.00628503,
       0.00399671, 0.00762478, 0.00290628, 0.00721046, 0.00619292,
       0.00303552, 0.00231081, 0.00116538, 0.00495796, 0.00433474,
       0.00099392, 0.0035013 , 0.00176924, 0.00262097, 0.00265305,
       0.0039971 , 0.00197536, 0.00445311, 0.00429133, 0.00130768,
       0.00310125, 0.00333436, 0.00144608, 0.00496966, 0.00404005,
       0.00497746, 0.00078484, 0.00421479, 0.00388889, 0.00171452,
       0.00412299, 0.00424284, 0.00233213, 0.00577499, 0.00207269,
       0.00101903, 0.003976  , 0.0022181 , 0.00321507, 0.00351178,
       0.00127534, 0.00374526, 0.0016143 , 0.00235803, 0.00257072,
       0.00100017, 0.0046664 , 0.00422543, 0.00448871, 0.00442815,
       0.00459302, 0.00541604, 0.00363796, 0.00508105, 0.01921349,
       0.0216274 , 0.01462703, 0.05421404, 0.12002809, 0.01595053,
       0.03727977, 0.09239406, 0.00312764, 0.07667015, 0.00086545,
       0.0138876 , 0.00925699, 0.00021913, 0.04508761, 0.02843078,
       0.00535587, 0.00869056, 0.00454949, 0.00313016, 0.00097837,
       0.00019834, 0.00143211, 0.00061405, 0.00121402, 0.00267884,
       0.00176008, 0.00447492, 0.00013629, 0.00126474, 0.00073133,
       0.00087852, 0.00243009, 0.0010931 , 0.00193548, 0.00370267])

In [37]:
# We can sort the features by their importance.
sorted(zip(rf_model.feature_importances_, X.columns), reverse=True)

[(0.12002808640196849, '23_Yes'),
 (0.10475854456769261, '26'),
 (0.09239405982837383, '24_Yes'),
 (0.0766701499123019, '27_Not applicable to me'),
 (0.05421403921600128, '23_No'),
 (0.04508761018347588, '28_Not applicable to me'),
 (0.03727977192921234, '24_No'),
 (0.028430779221864506, '28_Often'),
 (0.021627395168353183, '22_Yes'),
 (0.019213490551879313, '22_No'),
 (0.015950527883894648, '24_Maybe'),
 (0.014627029657275708, '23_Maybe'),
 (0.013887601797485367, '27_Rarely'),
 (0.009256993210968128, '27_Sometimes'),
 (0.008800784016239698, '1_Yes'),
 (0.00869055615342903, '28_Sometimes'),
 (0.007624781740838109, '9_Some did'),
 (0.007551371048323903, '1_No'),
 (0.007210459802404875, '10_I was aware of some'),
 (0.0062850313877000795, "9_I don't know"),
 (0.006192918902804638, '10_N/A (not currently aware)'),
 (0.005774994326416569, '18_Maybe'),
 (0.0054160356269770775, '21_Yes, I experienced'),
 (0.005355871437702762, '28_Rarely'),
 (0.005081048646796347, "22_I don't know"),
 (0.0049774558075455205, '15_Some did'),
 (0.004969658389819468, "15_I don't know"),
 (0.004964483184566114, '2_No'),
 (0.004957959572223622, '11_None did'),
 (0.00490985401566319, "0_I don't know"),
 (0.004666404516435316, '20_Somewhat not open'),
 (0.004616216042218723, '3_Somewhat easy'),
 (0.004609546084478744, '0_Yes'),
 (0.0045930224960587605, '21_No'),
 (0.004549493992558714, '29_Female'),
 (0.004488709751265649, '20_Very open'),
 (0.00447491937776337, '30_United States of America'),
 (0.004465109457115145, "2_I don't know"),
 (0.0044531100482341065, '13_Some of them'),
 (0.004428145531078478, '21_Maybe/Not sure'),
 (0.004334737023586075, '11_Some did'),
 (0.004291332913783635, '13_Yes, all of them'),
 (0.004283781698478691, '6_Yes'),
 (0.004279842181603516, '4_Maybe'),
 (0.00424283659432179, '17_No'),
 (0.004225431338098797, '20_Somewhat open'),
 (0.004214787542989722, '16_None of them'),
 (0.0041229949887963465, '17_Maybe'),
 (0.004117806247827898, "6_I don't know"),
 (0.004114118035560527, '4_No'),
 (0.004040051301348222, '15_None did'),
 (0.004031563271763795, '5_No'),
 (0.0039970982334574644, "13_I don't know"),
 (0.003996712758891647, '9_No, none did'),
 (0.0039760005569124575, '18_Yes, I think it would'),
 (0.003956083084216932, '3_Somewhat difficult'),
 (0.003888890460732389, '16_Some of them'),
 (0.0038736283923116862, '5_Maybe'),
 (0.0037932648356161546, '1_I am not sure'),
 (0.0037693576079939717, '3_Very easy'),
 (0.0037452564072128856, '19_Yes, I think they would'),
 (0.0037307808966355006, '2_Yes'),
 (0.0037026661979675268, '31_United States of America'),
 (0.0036379620499277826, '21_Yes, I observed'),
 (0.003623109760129695, "3_I don't know"),
 (0.0036113903075708923, '6_No'),
 (0.003511783939346377, "19_No, I don't think they would"),
 (0.0035012956932005098, "12_I don't know"),
 (0.0033343604227786213, '14_Some of my previous employers'),
 (0.003215070738739738, '19_Maybe'),
 (0.0031301555290523305, '29_Male'),
 (0.0031276416512655827, '27_Never'),
 (0.003101245723590561, '14_No, at none of my previous employers'),
 (0.003035523368745158, '10_No, I only became aware later'),
 (0.002906277189880446, '9_Yes, they all did'),
 (0.00279129657692459, '7_Yes'),
 (0.002678843587879641, '30_Other'),
 (0.002653048694480392, '12_Yes, always'),
 (0.002628964743547387, '7_No'),
 (0.0026209725336332453, '12_Sometimes'),
 (0.0025707233341947253,
  '20_Not applicable to me (I do not have a mental illness)'),
 (0.0024300859095333065, '31_Other'),
 (0.0023580324240049296, '20_Neutral'),
 (0.002332127912043782, '17_Yes'),
 (0.0023108057638254803, '10_Yes, I was aware of all of them'),
 (0.002223719410204566, '4_Yes'),
 (0.0022180973508789505, '18_Yes, it has'),
 (0.002072687537231832, "18_No, I don't think it would"),
 (0.0020385756050476413, '3_Neither easy nor difficult'),
 (0.001975364678151938, '13_None of them'),
 (0.0019354792729551688, '31_United Kingdom'),
 (0.0018804107943867533, '3_Very difficult'),
 (0.0018625024884486982, '0_No'),
 (0.0017692413431495025, '12_No'),
 (0.0017600817779370116, '30_United Kingdom'),
 (0.0017145223333523165, '16_Yes, all of them'),
 (0.0016360531489038952, '0_Not eligible for coverage / N/A'),
 (0.0016143016446271926, '19_Yes, they do'),
 (0.0014460848529754434, '14_Yes, at all of my previous employers'),
 (0.0014321139516493982, '30_Canada'),
 (0.001307681393271966, "14_I don't know"),
 (0.00130731297257353, '5_Yes'),
 (0.0012753413273276055, '19_No, they do not'),
 (0.0012647356383578814, '31_Canada'),
 (0.0012140224194725625, '30_Netherlands'),
 (0.00116537720674113, "11_I don't know"),
 (0.0010930956220369143, '31_Sweden'),
 (0.001019033645758621, '18_No, it has not'),
 (0.0010001735822499106, '20_Not open at all'),
 (0.000993916063677742, '11_Yes, they all did'),
 (0.000978368498608075, '29_Other'),
 (0.0008785209159179528, '31_Netherlands'),
 (0.0008654472681953435, '27_Often'),
 (0.0007848357941633648, '15_Yes, they all did'),
 (0.0007313333371382365, '31_Germany'),
 (0.0006140511798463747, '30_Germany'),
 (0.0002191298473664282, '28_Never'),
 (0.00019833510620262946, '30_Australia'),
 (0.00013629067938547836, '31_Australia'),
 (0.0, '8')]

In [23]:
# save our model to use later
import pickle

# Save to file in the current working directory
pkl_filename = "pickle_model.pkl"
with open(pkl_filename, 'wb') as file:
    pickle.dump(rf_model, file)

# Load from file
with open(pkl_filename, 'rb') as file:
    pickle_model = pickle.load(file)
    
# Calculate the accuracy score and predict target values
score = pickle_model.score(X_test, y_test)
print("Test score: {0:.2f} %".format(100 * score))
Ypredict = pickle_model.predict(X_test)

Test score: 86.11 %

Our modelâ€™s accuracy score is 86.11, meaning that it accurately predicts if an individual has a mental health disorder 86.11% of the time, based off how they answer survey questions (assuming they answer honestly). Since this model is not making a prediction that has high consequences, it is merely for the interest of an individual working in tech and wanting to know their likelihood of having (or developing) a mental health disorder, or for the interest of a tech company and wanting to know if offering certain mental health services would be of benefit to their employees, an accuracy of 86.11% is sufficient.